/*
  Style for Portfolio
*/

#portfolio-list {
  @extend post-list !optional;
} /* #portfolio-list */

/* Tablet */
@media all and (min-width: 768px) {
  #portfolio-list {
    %img-radius {
      border-radius: 0 $base-radius $base-radius 0;
    }

    .card {
      .preview-img {
        width: 20rem;
        height: 11.5rem; // can hold 2 lines each for title and content
      }

      .card-body {
        min-height: 10.75rem;
        width: 60%;
        padding: 1.75rem 1.75rem 1.25rem 1.75rem;

        .card-text {
          display: inherit !important;
        }

        .post-meta {
          i {
            &:not(:first-child) {
              margin-left: 1.75rem;
            }
          }
        }
      }
    }
  }
}

/* Sidebar is visible */
@media all and (min-width: 831px) {
  #portfolio-list {
    margin-top: 2.5rem;
  }
}

/* Panel is visible */
@media all and (min-width: 1200px) {
  #portfolio-list {
    padding-right: 0.5rem;
  }
}
